@import "../../utils/variables.scss";

// .App {
//     width: 100%;
//     min-height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: relative;
//     overflow: hidden;
// }

// .sidebar--container {
//     // position: fixed;
//     flex: 1;
//     width: 30rem;
//     // top: 0;
//     // left: 0;
//     z-index: 99999;
//     min-height: 100vh;
//     background-color: $primaryBgColor;
//     padding: 1rem;
//     transition: all 0.3s ease-in-out;

//     @media screen and (max-width: 42.5rem) {
//         position: absolute;
//         width: 85%;
//         left: 0;
//         top: 0;
//         transform: translateX(-101%);
//     }
// }

// .slider--active {
//     transform: translateX(0);
// }

// .main--container {
//     flex: 4;
//     width: 100%;
//     min-height: 100vh;
//     overflow: scroll;
// }

.App {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.sidebar--container {
  flex: 1;
  width: 100%;
  height: 100vh;
  padding: 1.5rem;
  background-color: $primaryBgColor;
  z-index: 100000;
  transition: all 0.3s ease-in-out;

  @media screen and (max-width: 42.5rem) {
    transform: translateX(-101%);
  }
}

.slider--active {
    width: 90% !important;
    transform: translateX(0);
}

.main--container {
  flex: 4;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
  @media screen and (max-width: 42.5rem) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
