$primaryBgColor : #191825;
$secondaryBgColor : rgba(255, 255, 255, 0.1);
$tertiaryBgColor : #EEEEEE;
$hoverBgColor : #3E54AC;

$light : #FFF;
$dark : #000;


$textPrimary : #202020;
$textSecondary : #FFFFFF;
$textTertiary: #bababa;